/**/
html, body {
	background:#eef1f5;
}
.theme-flex-container {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}
.theme-flex-container > .card {
  width: 500px;
  height: 200px;
  margin-bottom: 40px;
  border: 1px solid rgba(0,0,0,.05);
  box-shadow: 0 2px 2px rgba(0,0,0,.2);
  border-radius: 6px;
  padding: 15px;
  color: #999;
}
.card:hover {
  box-shadow: 0 4px 4px rgba(0,0,0,.2);
}
.card:hover > .title > a {
  color: #66a6ff;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
}
.card > .title {
  font-size: 24px;
  overflow:hidden;  /*超过部分不显示*/
  text-overflow:ellipsis;  /*超过部分用点点表示*/
  white-space:nowrap;/*不换行*/
  height: 28px;
  line-height: 28px;
  margin: 10px 8px;
  text-align: center;
}
.card > .title > a {
  color:#999;
}
.card > .sub-title {
  font-size: 14px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border-bottom: 1px dashed rgba(0,0,0,.05);
}
.card > .detail {
  height: 78px;
  overflow: hidden;  /*超过部分不显示*/
  text-overflow: ellipsis;  /*超过部分用点点表示*/
  white-space: nowrap;/*不换行*/
  margin: 10px;
}
.card > .link {
  height: 39px;
  text-align: center;
  display: block;
  line-height: 40px;
  border-top: 1px dashed rgba(0,0,0,.05);
  margin-top: 10px;
}
.card > .link:hover {
  color: #66a6ff;
}
.card > .sub-title a{
  color:#999;
}

.card h1, .card h2, .card h3, .card h4, .card h5, .card h6,
.card div, .card p, .card pre, .card blockquote {
  font-size: 14px;
  color: #999;
} 
.clearfix {
  clear:both;
}
.header-container {
	background: #393D49;
}
.swiper-container {
  width: 100%;
  height: 500px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.theme-container {
  border-left: 1px solid rgba(0,0,0,.05);
  border-right: 1px solid rgba(0,0,0,.05);
  box-shadow: 0 2px 2px rgba(0,0,0,.2);
  border-radius:0 6px 6px 0;
  padding: 20px 0!important;
  margin-bottom: 20px!important;
}
.theme-icons-container {
  height: 150px;
  background: #e6e9f0;
}
.theme-icons-container .layui-container {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 20px 0;
}
.theme-icon {
  display:block;
  height: 100px;
}
.theme-icon .img-box {
  width: 80px;
  height: 80px;
  border-radius: 15px;
  overflow: hidden;
}
.theme-icon .img-box img {
  width: 100%;
  height: 100%;
}
.theme-icon p {
  text-align: center;
  color: #999;
  margin-top: 14px;
}
.layui-breadcrumb {
  display: block;
  height: 50px;
  line-height: 49px;
  border-bottom: 1px solid rgba(0,0,0,.05);
  margin-bottom: 20px;
}
.foot-aside-container {
  background: #393D49;
  color:#fff;
}
.foot-aside-container .layui-container {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 40px 0;
}
.footer {
  text-align:center;
  padding: 20px 0 20px 0;
  background: #fff;
  height: 40px;
}
.footer p {
  height: 20px;
  line-height: 20px;
}

/**/
.page-container {
  clear:both;
  padding-bottom: 40px;
}
.page-container .text {
  
}
.page-container .text .title {
  font-size: 28px;
  text-align:center;
  width: 80%;
  margin:0 auto;
  color: #666;
}
.page-container .text .sub-title {
  font-size: 14px;
  color: #999;
  text-align:center;
  margin-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0,0,0,.05);
}
.page-container .widget {
  background:#cf0;
}